<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <package id="chocolatey" />
    <package id="git" />
    <package id="vagrant" />
    <package id="powershell4" />
    <package id="virtualbox" />
    <package id="f.lux" />
    <package id="Xming" />
    <package id="firefox" />
    <package id="putty" />
    <package id="visualsyslog" />
    <package id="rufus" />
    <package id="beaker" />
    <package id="anydesk" />
  </packages>
</xml>
